{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Login page</h1>
    {% if error %}
        <span>{{ error.messageKey }}</span>
    {% endif %}
   <p>To manage everything you need to login as admin</p>
  <form action="{{ path('login') }}" method="POST">
      <input type="text" name="_username" value="{{ lastUsername }}" placeholder="Enter username">
      <input type="password" name="_password">
      <button type="submit">Login</button>
  </form>
</div>
{% endblock %}
