{% extends 'base.html.twig' %}

{% block title %}Create group{% endblock %}

{% block body %}
    <style>
        .success{ color:green; }
    </style>
    <div class="wrapper">
        {% if success %}
            <p class="success"> {{ success }} group created ! </p>
        {% endif %}
        {{ form(form) }}
    </div>
{% endblock %}