{% extends 'base.html.twig' %}

{% block title %}Assign Customer to Group{% endblock %}

{% block body %}
    <style>
        .success{ color:green; }
    </style>
    <div class="wrapper">
        {% if success is defined %}
            <p class="success"> {{ success }} successfully assigned to group! </p>
        {% endif %}
        {{ form(form) }}
    </div>
{% endblock %}