{% extends 'base.html.twig' %}

{% block title %}All customers{% endblock %}

{% block body %}
    <style>
        .success{ color:green; }
        .table-head {display:flex;}
        .table-body {width:100%;display:flex;}
    </style>
    <div class="wrapper">
        <table>
            <tr>
                <th>Customer name</th>
                <th>Group name</th>
                <th>Action</th>
            </tr>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.name }}</td>
                    <td> {{ customer.groups.name }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
{% endblock %}