{% extends 'base.html.twig' %}

{% block title %}All customers{% endblock %}

{% block body %}
    <style>
        .success{ color:green; }
        .table-head {display:flex;}
        .table-body {width:100%;display:flex;}
    </style>
    <div class="wrapper">
        <table>
           <div> Delete was - {{ app.request.get('status') }} </div>
            <tr>
                <th>Group name</th>
                <th>Action</th>
            </tr>
            {% for group in groups %}
                <tr>
                    <td> {{ group.name }}</td>
                    <td><a href="{{ path('admin_group_delete', {id : group.id}) }}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}