{% extends 'base.html.twig' %}

{% block title %}All customers{% endblock %}

{% block body %}
    <style>
        .success{ color:green; }
        .table-head {display:flex;}
        .table-body {width:100%;display:flex;}
    </style>
    <div class="wrapper">
        <table>
            <tr>
                <th>Customer name</th>
                <th>Group name</th>
                <th>Actions</th>
            </tr>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.name }}</td>
                    <td> {%  if customer.groups.name is defined %}
                            {{ customer.groups.name }}
                        {% endif %}
                    </td>
                    <td><a href="{{ path('admin_customer_delete', {id : customer.id}) }}">Delete</a></td>
                    <td><a href="{{ path('admin_customer_assign', {id : customer.id}) }}">Assign to group</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}