<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <style>
                .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
                .wrapper code { background: #F5F5F5; padding: 2px 6px; }
                span { color:red; }
                .nav {display:flex; justify-content: space-between; color:#222222}
                nav { background-color: #F5F5F5;}
                .wrapper{max-width: 1000px;margin:0 auto;}
            </style>
        {% endblock %}
    </head>
    <body>
    <nav>
        <div class="wrapper">
            <div class="nav">
                <a href="{{ path('logout') }}">Logout</a>
                <a href="{{ path('login') }}">Login</a>
                <a href="{{ path('admin_list') }}">Customer list</a>
                <a href="{{ path('admin_group_list') }}">Group list</a>
                <a href="{{ path('admin_create_customer') }}">Create customer</a>
                <a href="{{ path('admin_create_group') }}">Create group</a>
                <a href="{{ path('admin_group_delete') }}">Delete group</a>
            </div>
        </div>
    </nav>
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
